<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=edge">
    <meta name="viewport">
    <link href="../CSS/img_style.css" type="text/css" rel="stylesheet">
    <link href="../CSS/main_modal.css" type="text/css" rel="stylesheet">
    <link href="../CSS/text_style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="body" >
        <div class="body_img" id="bg_1">
            
        </div>
        <div class="body_content">
            <hr>
            <div class="div_hr" align="right">


                <img src="../resources/image/main_1.jpg" class="img" align="left">

                <div class="text" id="txt1"  align="right">
                    The horse racing culture originated in England. The first formal horse racing event was held in the London horse market in 1174. Around the 13th century, horse racing fever swept across the European continent.
                    In France, horse racing culture also had a strong influence. The first horse racing event in France was held in 1776, and in the early 19th century, the first horse racing association in France was established at the Chantilly horse racing training base near Paris (which is still the center of horse racing in France today).
                </div>
            </div>
            <hr>
            <div class="div_hr" align="right">

                <img src="../resources/image/main_2.jpg" class="img" align="left">
                 <div class="text" id="txt2"  align="right">
                    In 1870, Parisian businessman Oller invented horse racing lottery, which quickly became a popular horse racing betting method worldwide, and it is still popular in France and around the world. However, for horse lovers, horse racing itself is primarily a culture.
                    Horse racing in Hong Kong began in 1841.
                 </div>
            </div>
            <hr>
            <div class="div_hr" align="right">

                <img src="../resources/image/main_3.jpg" class="img" align="left">
                <div class="text" id="txt3"  align="right">
                    In 1884, the Hong Kong Jockey Club was established, and it has been over 130 years now. Since 2002, Hong Kong has gradually stepped onto the international horse racing stage. The Hong Kong International Races held annually in December have now increased to four events - the Hong Kong Cup, Hong Kong Mile, Hong Kong Sprint, and Hong Kong Vase, with participating countries expanding to horse racing powerhouses such as Europe and America.
                    In 2008, the equestrian events of the Beijing Olympics were held at the Sha Tin Racecourse in Hong Kong.
                </div>

            </div>
            <hr>
        </div>
    </div>
</div>
<div class="foot">

    <div id="foot_left">
        Group Members
    </div>
    <div id="foot_right">
        <div class="member">
            <li>22401598 CHEN Pengxi</li><br/>
            <li>22401520 Lixipeng</li><br/>
            <li>22406131 Liu Yiqi</li>
        </div>

        <div class="member">
            <li>22425853 LI Yuyi</li><br/>
            <li>22435972 Qin Chenxi</li><br/>
            <li>22406042 Wang Weinan</li>
        </div>
    </div>

</div>
</body>