.body {
    margin: 0px auto;
    width: 75%;
    height: 1300px;
    background-color: rgb(255, 255, 255);
    position: static;
}
.body_img{
    width: 100%;
    height: 30%;
    position: static;
    background-color: rgb(255, 255, 255);
}
.body_content{
    width: 80%;
    height: 70%;

    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.div_hr{
    width: 100%;
    height: 260px;
}
.text{
    width: 75%;
    text-align: justify;
    font-size: 25px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img{
    width: 250px;
    height: 250px;
}
.main{
    margin-bottom: 50px;
}
.foot {
    width: 75%;
    height: 150px;
    background-color: white;
    margin: 0px auto;
    position: static;

}
#foot_left{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#foot_right{
    width: 70%;
    height: 100%;
    background-color: white;
    float: left;
}
.member{
    font-size: 20px;
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
    border-left: 2px solid black;
    list-style: none;
}