html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

nav{
    width: 100%;
    height: 100%;
    background-color: wheat;
    position: relative;
}

nav a{
    list-style: none;
    width: 220px;
    height: 50px;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 30px;color: black;font-family: fantasy;
    text-decoration: none;
    display: inline-block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    list-style: none;
    text-align: center;
}

nav a:hover:not(.active){
    background-color: #555;
    color: white;
    user-select: none;
}
nav a.active{
    background-color: #6aa3ff;
}

.div_frame{
    margin-top: 40px;
}
.top {
    top: 0;
    width: 100%;
    height: 50px;
    background-color: wheat;
    position: fixed;
    
    overflow-y: hidden;
    transition: height 0.1s, border-bottom 0.2s;
}
.top:hover{
    height: 85px;
    

    border-bottom: 10px solid #6aa3ff;
}
.top_content{
    width: 75%;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

